{% extends 'layout.html.twig' %}

{% block title %}UserToken index{% endblock %}

{% block content %}
    <h1>UserToken index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>RelatedUrl</th>
                <th>Token</th>
                <th>LastUsage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_token in user_tokens %}
            <tr>
                <td>{{ user_token.id }}</td>
                <td>{{ user_token.type }}</td>
                <td>{{ user_token.relatedUrl }}</td>
                <td>{{ user_token.token }}</td>
                <td>{{ user_token.lastUsage ? user_token.lastUsage|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_token_show', {'id': user_token.id}) }}">show</a>
                    <a href="{{ path('app_user_token_edit', {'id': user_token.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_token_new') }}">Create new</a>
{% endblock %}
